body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1d0d5;
}

button {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  color: #000000;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #333;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s ease;
}

button:hover {
  cursor: pointer;
}

button:hover h1::after {
  transform: scaleX(1);
}
